[submodule "shared/home-configs/.vim/bundle/nerdtree"]
	path = shared/home-configs/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "shared/home-configs/.vim/bundle/YouCompleteMe"]
	path = shared/home-configs/.vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "shared/home-configs/.vim/bundle/onedark-vim"]
	path = shared/home-configs/.vim/bundle/onedark-vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "shared/home-configs/.vim/bundle/vim-markdown"]
	path = shared/home-configs/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "shared/home-configs/.vim/bundle/vim-polyglot"]
	path = shared/home-configs/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "shared/home-configs/.vim/bundle/vim-surround"]
	path = shared/home-configs/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
